

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    
}

.calculator{
    
    height: 100vh;
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    text-align: center;
}

input{
    width: 100%;
    height: 200px;
    border: none ;
    padding: 10px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 15vw;
    text-align: right;
    corser: pointer;
    color: white;
}

input::placeholder{
    color: white;
    fint-size: 35vw;
}

button{
    border: none;
    width: 65px;
    height: 65px;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    corser: pointer;
}

.all-btn{
    
}

.eqlbtn{
    background-color: orange;
}

.operator{
    color:#008702;
}

@media screen and (max-width: 600px;){
    .calculator{
        height: 600px;
    }
}
